* {
  box-sizing: border-box; }

body {
  color: #666666;
  font: 400 1em/1.6 ff-tisa-sans-web-pro, helvetica, tahoma, sans-serif; }

.container {
  padding: 4rem; }

h1,
h2,
h3 {
  color: #222222;
  font-weight: 500; }

h1 {
  font-size: 1.618em; }

h2 {
  font-size: 1.365em; }

h3 {
  font-size: 1em; }

p {
  margin: 1em 0; }

a {
  color: #222222;
  border-bottom: 2px solid rgba(110, 154, 194, 0.2);
  text-decoration: none; }
  a:hover {
    color: black; }
  a:hover {
    border-bottom: 2px solid rgba(110, 154, 194, 0.6); }

li {
  list-style-type: circle; }

ul {
  margin-bottom: 1em; }

img {
  width: 100%; }

strong {
  color: #222222; }

em {
  font-style: italic;
  color: #aaa; }

#map {
  height: 500px;
  width: 100%; }
